* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to right, #141e30, #243b55);
  min-height: 100vh;
  color: white;
}

button:hover {
  opacity: 0.8;
}
